.버튼스타일 {
  background-color: yellow;

  @apply text-철수가좋아하는색깔; /*테일윈드 css랑 함께쓰기*/
}
.네모상자1스타일 {
  width: 200px;
  height: 200px;

  @apply bg-영희가좋아하는색깔;
}
.네모상자2스타일 {
  width: 200px;
  height: 200px;

  @apply bg-영희가좋아하는색깔;
  /* @tailwind base dp reset css 등록됨 : box-sizing : border-box*/
  padding: 30px;
}
